body {
}
.TablaPrincipal {
    border-radius: 20px 10px 50px 30px;
    -webkit-border-radius: 20px 10px 50px 30px;
    -moz-border-radius: 20px 10px 50px 30px;    
    padding: 10px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
.HeaderTitulo {
    color: blue;
    background-color: transparent
}
.HeaderEtiqueta{
    font-weight:bold;
    color:black;
    background-color:transparent;
    font-size:medium;
    font-family:Calibri;
}
.TablaMVZ {
    border:1px none white;
    width: 100%;   
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
}
.TituloMVZ {
    text-align:center;
    vertical-align:middle;
    font-weight: bold;
    color: white;
    background-color: blue;
    font-size: medium;
    font-family: Calibri;
}
.Imagenes {
    text-align:center;
    vertical-align:middle;
    position: relative; 
    width: 150px; 
    height: auto; 
    margin: 0 auto;
}


