<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Necropsyology.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="vQJuIBsqZO9GN4JH/+P5Xy14QsAT4khOBGu0ZlPYcMVj3+e4rFr87es6xIO7SG5rLikhYKmTr9omSIZI7maGvNbPR7KYuTm1dxVfTWAusYzh2tw/Wdlg6kBBtA/WSbP9yHHqfixjM9lRmJRbwGTMP5kptR6RZjgj3h0BCbxDVbn35AgQDvUYsWaloc7owz0u1hOv59ggSwNlP0y3C8YJ2WBv41l1JnCUATLQSo3uZEqmIxGKcCx0Re+zqS6GWi/RCKYNy3WTYwXnaTDn0/7QkXljH7RJw5OImSYuQRTJo8LxSUpNjX3bZzmxBILkmNr7Yf0XB+1NHGMM/VgkV1pZUtiD4FHJgytGyOBqlqmIlLkAkpMFu/unjg==" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <applicationSettings>
    <Necropsyology.Admin.Properties.Settings>
      <setting name="CadenaPri" serializeAs="String">
        <value>DTfhEQJODeiNP0d1rjE/3Y6bKTcornIs</value>
      </setting>
      <setting name="CarTrabajoNecros" serializeAs="String">
        <value>~/Basura/NecrosImg/</value>
      </setting>
    </Necropsyology.Admin.Properties.Settings>
  </applicationSettings>
</configuration>
