<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Necropsyology.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="vQJuIBsqZO9GN4JH/+P5Xy14QsAT4khOBGu0ZlPYcMVj3+e4rFr87es6xIO7SG5rLikhYKmTr9omSIZI7maGvNbPR7KYuTm1dxVfTWAusYzh2tw/Wdlg6kBBtA/WSbP9yHHqfixjM9lRmJRbwGTMP5kptR6RZjgj3h0BCbxDVbn35AgQDvUYsWaloc7owz0u1hOv59ggSwNlP0y3C8YJ2WBv41l1JnCUATLQSo3uZEqmIxGKcCx0Re+zqS6GWi/RCKYNy3WTYwXnaTDn0/7QkXljH7RJw5OImSYuQRTJo8LxSUpNjX3bZzmxBILkmNr7Yf0XB+1NHGMM/VgkV1pZUtiD4FHJgytGyOBqlqmIlLkAkpMFu/unjg==" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="vQJuIBsqZO9GN4JH/+P5Xy14QsAT4khOBGu0ZlPYcMVj3+e4rFr87VZH7WJUvRdcRle7Q9nWnX2dxvh7Z3whwggx3JIG0uNPtus07f2e/83NG/Uqu4n8RDVsiuxb3RITr25jflvPoLyFSxi9FJGbLNhur2gNxr6UaD+VjIZxPJZ6KGVoV0tKFrJHrQy/R743Bqz8vZvoDNrhWZAydTR0/e5Z43vqMqv82GNtADePzSLmv3CrxNWQECi102552AA889NKjq/fQNZVvemHeNw1gHk5RK+MRYnH" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <applicationSettings>
    <Necropsyology.Admin.Properties.Settings>
      <setting name="CadenaPri" serializeAs="String">
        <value>DTfhEQJODeiNP0d1rjE/3Y6bKTcornIs</value>
      </setting>
      <setting name="CarTrabajoNecros" serializeAs="String">
        <value>~/Basura/NecrosImg/</value>
      </setting>
    </Necropsyology.Admin.Properties.Settings>
  </applicationSettings>
</configuration>